@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-muted">Kavanegar API : @ViewBag.KavenegarApi</p>
<p class="text-muted">PasargadBank Terminal Id : @ViewBag.PasargadBankId</p>
